# Advanced Containers

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
people = [("Michele", "Vallisneri", "July 15"),
          ("Albert", "Einstein", "March 14"),
          ("John", "Lennon", "October 9"),
          ("Jocelyn", "Bell Burnell", "July 15")]

In [3]:
people[0][0]

'Michele'

In [4]:
people[0][1]

'Vallisneri'

In [5]:
[person for person in people if person[2] == "July 15"]

[('Michele', 'Vallisneri', 'July 15'), ('Jocelyn', 'Bell Burnell', 'July 15')]

In [6]:
# defining the namedtuple "person"
persontype = collections.namedtuple('person', ['firstname', 'lastname', "birthday"])

In [7]:
michele = persontype("Michele", "Vallisneri", "July 15")

In [8]:
michele = persontype(lastname="Vallisneri", firstname="Michele", birthday="July 15")

In [9]:
michele

person(firstname='Michele', lastname='Vallisneri', birthday='July 15')

In [10]:
michele[0], michele[1], michele[2]

('Michele', 'Vallisneri', 'July 15')

In [11]:
michele.firstname, michele.lastname, michele.birthday

('Michele', 'Vallisneri', 'July 15')

In [12]:
michele.firstname, michele.lastname, michele.birthday

('Michele', 'Vallisneri', 'July 15')

In [13]:
persontype(people[0])

TypeError: __new__() missing 2 required positional arguments: 'lastname' and 'birthday'

In [14]:
# use tuple unpacking on people[0] to build a namedtuple
persontype(*people[0])

person(firstname='Michele', lastname='Vallisneri', birthday='July 15')

In [16]:
namedpeople = [persontype(*person) for person in people]

In [17]:
namedpeople

[person(firstname='Michele', lastname='Vallisneri', birthday='July 15'),
 person(firstname='Albert', lastname='Einstein', birthday='March 14'),
 person(firstname='John', lastname='Lennon', birthday='October 9'),
 person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]

In [18]:
[person for person in namedpeople if person.birthday == "July 15"]

[person(firstname='Michele', lastname='Vallisneri', birthday='July 15'),
 person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]

In [19]:
from dataclasses import dataclass

In [20]:
# defining a data class with the same content as the "person" nametuple
# and with a default for "birthday"

@dataclass
class personclass:
    firstname: str
    lastname: str
    birthday: str = 'unknown'

In [21]:
michele = personclass('Michele', 'Vallisneri')

In [22]:
michele

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [23]:
michele = personclass(firstname='Michele', lastname='Vallisneri')

In [24]:
michele.firstname, michele.lastname, michele.birthday

('Michele', 'Vallisneri', 'unknown')

In [25]:
michele.firstname, michele.lastname, michele.birthday

('Michele', 'Vallisneri', 'unknown')

In [26]:
michele[0]

TypeError: 'personclass' object is not subscriptable

In [27]:
# updating the data class "personclass" so that it can compute a person's full name

@dataclass
class personclass2:
    firstname: str
    lastname: str
    birthday: str = 'unknown'
    
    # all methods in a class carry a conventional argument "self";
    # when the methods are called on an instance (here, a specific person),
    # "self" points the instance itself, so self.firstname and self.lastname
    # are the data fields in that instance
    def fullname(self):
        return self.firstname + ' ' + self.lastname

In [28]:
print(michele)

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [29]:
michele = personclass2('Michele', 'Vallisneri', 'July 15')

In [30]:
michele.fullname()

'Michele Vallisneri'